.tweet-card.link
  - if @reply.parent_tweet
    %h4.card-header #{@reply.parent_tweet.user.name} ・ #{time_ago_in_words(@reply.parent_tweet.created_at, include_seconds: true)}前
    .card-body= simple_format(@reply.parent_tweet.content)
    %a{ href: user_tweet_path(@reply.parent_tweet.user, @reply.parent_tweet), method: :get }
  - else
    .card-header
    .card-body ツイートは削除されています
