.tweets
  - tweets.each do |tweet|
    .p-1
      .card.border-dark
        .card-header
          #{tweet.created_at}
        .card-body
          #{tweet.content}
        .card-footer
          = button_to "開く", [@user, tweet], method: :get, class: "btn btn-outline-primary btn-sm"
  = paginate tweets
