- tweets.each do |tweet|
  .p-1
    .record
      .card.border-dark
        .card-header #{time_ago_in_words(tweet.created_at, include_seconds: true)}前
        .card-body= simple_format(tweet.content)
      %a{ href: user_tweet_path(@user, tweet), method: :get }
= paginate tweets
