.tweet-card.link
  %h5.card-header.form-inline
    = render 'layouts/user_icon', icon: @tweet.user.icon.small_thumb
    #{parent_tweet.user.name} ・ #{time_ago_in_words(parent_tweet.created_at, include_seconds: true)}前
  .card-body= simple_format(parent_tweet.content)
  %a{ href: user_tweet_path(parent_tweet.user,parent_tweet), method: :get }
