%nav.navbar.sticky-top.navbar-light.bg-light
  .form-inline
    %a.navbar-brand #{@user.name}のホーム
    = button_to "ツイート", user_path, method: :get, class: "btn btn-outline-dark"
    - if current_user?
      = button_to "おすすめユーザー", allusers_user_path, method: :get, class: "btn btn-outline-dark"

- if current_page?(@current_user)
  .p-3
    = render "tweets/form"
