- @users.order(:name).each do |user|
  .user-record
    %h4.card-header
      = render 'layouts/user_icon', user: user
      = user.name
    %a{ href: user_path(user), id: "#{user.id}", method: :get }
= paginate @users
