// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

.application-body {
  padding: ($spacer * 9) ($spacer * 0.5) ($spacer * 3) ($spacer * 0.5);
}

.link {
  position: relative;

  a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &:hover {
    opacity: 0.6;
  }
}

.user-card {
  @extend .card;
  @extend .border-dark;
}

.tweet-card {
  @extend .card;
  @extend .border-dark;
}

.reply-card {
  @extend .card;
  @extend .border-dark;
}

.record {
  @extend .m-1;
  @extend .link;

  &:hover {
    opacity: 0.6;
    transform: scale(1.01);
  }
}

.user-record {
  @extend .user-card;
  @extend .record;
}

.tweet-record {
  @extend .tweet-card;
  @extend .record;
}

.reply-record {
  @extend .reply-card;
  @extend .record;
}

.padding-form {
  @extend .p-3;
}

.padding-child-record {
  @extend .p-4;
}

.padding-parent-record {
  @extend .pl-4;
  @extend .pb-1;
}

.user-icon {
  @extend .mr-1;
  @extend .ml-1;

  border-radius: 50%;
}

.user-icon-preview {
  @extend .user-icon;
  @extend .mb-1;

  width: 50px;
  height: 50px;
}

.trimming-user-icon {
  width: 100%;
  height: auto;
}

.modal-dialog {
  max-width: 40%;
}
