%nav.navbar.fixed-bottom.navbar-light.bg-light
  %span.fab.fa-2x.fa-twitter
  - if current_user?(@user)
    = link_to 'アカウント削除', user_registration_path, method: :delete, data: { title: 'アカウント削除の確認', confirm: '本当に削除しますか？', cancel: 'やめる', commit: '削除' }, class: 'btn btn-outline-secondary btn-sm'
